<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="A full stack blog application to give your opinion on various topics"
    />
    <link rel="stylesheet" href="/style.css" />
    <title>Document</title>
  </head>
  <nav>
    <a href="/about" class="logo">OpinionAte</a>
    <ul>
      <li>
        <a class="link" href="/">Opinions</a>
      </li>
      <li>
        <a class="link" href="/about">About</a>
      </li>
      <li>
        <a class="link" href="/contact">Contact</a>
      </li>
    </ul>
  </nav>
</html>
