<%- include ('partials/header.ejs') -%>
<body>
  <h1>About</h1>
  <div class="posts-container">
    <section class="dynamic-sec">
      <header>
        <h2>The Project</h2>
      </header>
      <div class="content-box">
        <p class="dynamic-content">
          At the five month mark of my self-taught web dev journey, I felt like
          it was time to put out the a full stack App that would have the
          ability to perform CRUD.
        </p>
      </div>
    </section>
    <section class="dynamic-sec">
      <header>
        <h2>The Technologies</h2>
      </header>
      <div class="content-box">
        <p class="dynamic-content">
          This project is NodeJS based and created with the help of Express in
          addition to body-parser, lodash, mongoDB, mongoose, mongoDBAtlas, and
          EJS. Cannot forget to mention Heroku was used for deployment.
        </p>
      </div>
    </section>
    <section class="dynamic-sec">
      <header>
        <h2>The Developer</h2>
      </header>
      <div class="content-box">
        <p class="dynamic-content">
          Aryse Tansy, currently paramedic fighting hard to engage in the world
          of web and software development. My journey started on Sept. 11th 2021
          with the will of having more available time with my family and
          location flexibility.
        </p>
      </div>
    </section>
    <section class="dynamic-sec">
      <header>
        <h2>The Next Objective</h2>
      </header>
      <div class="content-box">
        <p class="dynamic-content">
          This is pretty much the most Basic this project can get. The intention
          is to work on it as new techlogies are learned. The objective is to
          have a "Create account" and "Log in" for which each user will have
          their own personal space and Database. The layout and design is to
          remain minimalist but will have images displayed as wished and
          uploaded by user. The Text Area in the composition will become some
          sort of text editor so Posts can be styled but more importantly, to
          allow breaklines to be respected. Once these are achieved, I can move
          on to the next phase. At that point there would be the ability of
          travel to other users post page and perhaps comment and leave feedback
          on the posts. The ideas are many but that pace will be organized and
          rush-free. From that phase on, ideas are brewing. I will update as
          with move forward.
        </p>
      </div>
    </section>
  </div>
</body>
<%- include('partials/footer.ejs')-%>
