<%- include ('partials/header.ejs') -%>
<body>
  <h1>Contact</h1>
  <div class="posts-container">
    <section class="dynamic-sec">
      <header>
        <h2>Alô?</h2>
      </header>
      <div class="content-box">
        <p class="dynamic-content">
          The best way to reach me is via email at:
          coding100enthusiasm@gmail.com
          <br />
          You can find me as medic1111 on GitHub, Netlify, and FreeCodeCamp.
        </p>
      </div>
    </section>
  </div>
</body>
<%- include('partials/footer.ejs')-%>
