<%- include ('partials/header.ejs') -%>
<body>
  <h1>=]</h1>
  <div class="posts-container">
    <section class="dynamic-sec">
      <header>
        <h2><%= dynamicTitle %></h2>
      </header>
      <div class="content-box">
        <p class="dynamic-content"><%= dynamicContent %></p>
      </div>
    </section>
  </div>
</body>
<%- include('partials/footer.ejs')-%>
